html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: #f4f4f4;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#test {
    width: 50%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}

.black-text {
    color: #000;
}

.red-text {
    color: #ff0000;
}

.blue-text {
    color: #0000ff;
}

.green-text {
    color: #00ff00;
}